[Unit]
Description=NVIDIA DCGM Exporter Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker exec %n stop
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull nvcr.io/nvidia/k8s/dcgm-exporter:{{ dcgm_exporter_version }}
ExecStart=/usr/bin/docker run --rm --name %n \
    --gpus all \
    --net host \
    --cap-add SYS_ADMIN \
    nvcr.io/nvidia/k8s/dcgm-exporter:{{ dcgm_exporter_version }} -r localhost:5555

[Install]
WantedBy=default.target
